.app-container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, blue, white);
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
}
.emojis-el-list {
  display: flex;
  flex-wrap: wrap;
}
.b-container-for-ref {
  flex-wrap: wrap;
  display: flex;
  width: 600px;
}
